<mat-toolbar color="primary">
  <a mat-button [matMenuTriggerFor]="dropdown">
    Keys
  </a>
  <mat-menu #dropdown>
    <button mat-menu-item matTooltip="Create a new key" (click)="onCreate()">New</button>
    <button mat-menu-item matTooltip="Open an private key" (click)="onImport()">Open</button>
    <mat-divider></mat-divider>
    <button mat-menu-item matTooltip="Save all keys" (click)="onSave()">Save All</button>
    <mat-divider></mat-divider>
    <button mat-menu-item matTooltip="About this app." (click)="onAbout()">About</button>
  </mat-menu>
  <span class="title-center">OpenPGP Key Manager</span>
</mat-toolbar>
<app-home></app-home>
